In [26]:
import pandas as pd

In [27]:
# df = pd.read_csv("data/testData/tvData.csv")
df = pd.read_csv("data/final/combinedTVData.csv")

In [28]:
df.head()

,index,Unnamed: 0,Tomatometer,Audience Score,Title,Character,Box Office,Year,Cast
0,0,0,92%,25%,The Assistant,Jane (Character),$1.1M,2019,Julia Garner
1,1,1,67%,43%,Tomato Red: Blood Money,Jamalee Merridew (Character),$4.2K,2017,Julia Garner
2,2,2,No Score Yet,60%,Everything Beautiful Is Far Away,Rola (Character),-,2017,Julia Garner
3,3,3,No Score Yet,46%,One Percent More Humid,Catherine (Character),-,2017,Julia Garner
4,4,4,33%,41%,Good Kids,Tinsley (Character),-,2016,Julia Garner

In [29]:
tempDf = df
#change column names
tempDf = tempDf.rename({'Unnamed: 0': 'Id', 'Audience Score': 'Audience_Score', 'Box Office': 'Box_Office'}, axis=1)
tempDf.drop('Id', axis=1, inplace=True)
tempDf.head()

,index,Tomatometer,Audience_Score,Title,Character,Box_Office,Year,Cast
0,0,92%,25%,The Assistant,Jane (Character),$1.1M,2019,Julia Garner
1,1,67%,43%,Tomato Red: Blood Money,Jamalee Merridew (Character),$4.2K,2017,Julia Garner
2,2,No Score Yet,60%,Everything Beautiful Is Far Away,Rola (Character),-,2017,Julia Garner
3,3,No Score Yet,46%,One Percent More Humid,Catherine (Character),-,2017,Julia Garner
4,4,33%,41%,Good Kids,Tinsley (Character),-,2016,Julia Garner

In [30]:
tempDf.count()

index             962852
Tomatometer       962852
Audience_Score    962852
Title             962852
Character         962852
Box_Office        962852
Year              962852
Cast              959805
dtype: int64

In [31]:
# removeTerms = ["Director", "Music Performer", "Screenwriter", "Producer", "Cinematographer", "Production", "Writer"]
# # tempDf[~tempDf['Character'].isin(removeTerms)]
# tempDf[~tempDf['Character'].str.contains("|".join(removeTerms))]
# # tempDf = tempDf[tempDf['Character'].str.contains('Director') | tempDf['Character'].str.contains('Guest') | tempDf['Character'].str.contains('Music Performer') | tempDf['Character'].str.contains('Screenwriter') | tempDf['Character'].str.contains('Producer')]
# tempDf.sample(300)

In [32]:
tempDf.count()

index             962852
Tomatometer       962852
Audience_Score    962852
Title             962852
Character         962852
Box_Office        962852
Year              962852
Cast              959805
dtype: int64

In [33]:
# temp2Df = tempDf.groupby('Title').apply(lambda x: ",".join(x['Cast']))
tempDf.fillna("", inplace=True)
tempDf.count()

index             962852
Tomatometer       962852
Audience_Score    962852
Title             962852
Character         962852
Box_Office        962852
Year              962852
Cast              962852
dtype: int64

In [34]:
tempDf.drop_duplicates(['Cast','Title', 'Tomatometer', 'Box_Office'],inplace=True)

In [35]:
# temp2Df = tempDf.groupby(['Title'], as_index=False).apply(lambda x: ", ".join(x['Cast']))
temp2Df = tempDf.groupby(['Title', 'Tomatometer', 'Box_Office'], as_index=False).agg({'Cast': lambda x: ", ".join(x),
                                                         "Tomatometer": lambda x: ", ".join(x),
                                                         "Audience_Score": lambda x: ", ".join(x),
                                                         "Character": lambda x: ", ".join(x),
                                                         "Box_Office": lambda x: ", ".join(x),
                                                         "Year": lambda x: ", ".join(x),
                                                         })
temp2Df.sample(50)

,Title,Cast,Tomatometer,Audience_Score,Character,Box_Office,Year
120502,Your Home is My Business!,Keiko Kitagawa,No Score Yet,No Score Yet,Unknown (Character),-,2020
116976,Welcome to New York,"Sonakshi Sinha, Lara Dutta, Karan Johar, Boman...","14%, 14%, 14%, 14%, 14%, 14%","No Score Yet, No Score Yet, No Score Yet, No S...","Unknown (Character), Unknown (Character), Unkn...","$118.3K, $118.3K, $118.3K, $118.3K, $118.3K, $...","2018, 2018, 2018, 2018, 2018, 2018"
22766,Creative Nonfiction,Lena Dunham,No Score Yet,32%,"Ella (Character),Director,Screenwriter",-,2009
73670,Punisher: War Zone,"Ray Stevenson, Julie Benz, Dominic West, Avi A...","29%, 29%, 29%, 29%, 29%, 29%, 29%, 29%, 29%, 2...","42%, 42%, 42%, 42%, 42%, 42%, 42%, 42%, 42%, 4...","Frank Castle/The Punisher (Character), Angela ...","$7.9M, $7.9M, $7.9M, $7.9M, $7.9M, $7.9M, $7.9...","2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008..."
65571,"New York, New York","Martin Scorsese, Barry Primus, George Memmoli,...","57%, 57%, 57%, 57%, 57%, 57%","58%, 58%, 58%, 58%, 58%, 58%","Director, Paul Wilson (Character), Nicky (Char...","$91.9K, $91.9K, $91.9K, $91.9K, $91.9K, $91.9K","1977, 1977, 1977, 1977, 1977, 1977"
71244,Peter the Great,"Vanessa Redgrave, Helmut Griem, Laurence Olivi...","No Score Yet, No Score Yet, No Score Yet, No S...","No Score Yet, No Score Yet, No Score Yet, No S...","Sophia (Character), Alexander Menshikov (Chara...","-, -, -, -, -, -, -","1986, 1986, 1986, 1986, 1986, 1986, 1986"
80258,Security,"Antonio Banderas, Ben Kingsley, Valeria Bilell...","No Score Yet, No Score Yet, No Score Yet, No S...","33%, 33%, No Score Yet, No Score Yet, No Score...","Eduardo ""Eddie"" Deacon (Character), Charlie (C...","-, -, -, -, -, -, -, -, -, -","2016, 2016, 2021, 2003, 2021, 2021, 2021, 2016..."
105806,The Sisterhood of the Traveling Pants,"Blake Lively, Alexis Bledel, America Ferrera, ...","77%, 77%, 77%, 77%, 77%, 77%, 77%, 77%, 77%, 7...","78%, 78%, 78%, 78%, 78%, 78%, 78%, 78%, 78%, 7...","Bridget (Character), Lena Kaligaris (Character...","$39.0M, $39.0M, $39.0M, $39.0M, $39.0M, $39.0M...","2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005..."
19623,"Child of Darkness, Child of Light","Sela Ward, Claudette Nevins, Paxton Whitehead,...","No Score Yet, No Score Yet, No Score Yet, No S...","21%, 21%, 21%, 21%, 21%, 21%","Sister Anne (Character), Lenore Beavier (Chara...","-, -, -, -, -, -","1991, 1991, 1991, 1991, 1991, 1991"
4170,Aapathbandavudu,"Chiranjeevi, Brahmanandam","No Score Yet, No Score Yet","No Score Yet, No Score Yet","Madhava (Character), Unknown (Character)","-, -","1992, 1992"
36051,Frontier Outlaws,Buster Crabbe,No Score Yet,No Score Yet,Billy Carson (Character),-,1944
51798,Kummeli V,Iina Kuustonen,No Score Yet,7%,Tupsu (Character),-,2014
45370,Icebreaker,"Sean Astin, Bruce Campbell, Stacy Keach","No Score Yet, No Score Yet, No Score Yet","21%, 21%, 21%","Matt Foster (Character), Carl Greig (Character...","-, -, -","2000, 2000, 2000"
65813,Night Must Fall,"Albert Finney, Kathleen Harrison, Karel Reisz,...","No Score Yet, No Score Yet, No Score Yet, No S...","55%, 78%, 55%, 55%, 78%, 55%, 78%","Danny (Character),Producer, Mrs. Terence (Char...","-, -, -, -, -, -, -","1964, 1937, 1964, 1964, 1937, 1964, 1937"
29854,Eden of the East: Paradise Lost,"Jason Liebrecht, Kenji Kamiyama","No Score Yet, No Score Yet","No Score Yet, No Score Yet","Akira Takizawa (Voice), Director,Screenwriter","-, -","2011, 2011"
113468,UFO Investigation,Tom DeLonge,No Score Yet,89%,"Unknown (Character),Executive Producer",-,2019-2021
6750,Amelia Earhart,"Susan Oliver, Charles Aidman, Catherine Burns,...","No Score Yet, No Score Yet, No Score Yet, No S...","No Score Yet, No Score Yet, No Score Yet, No S...","Neta Snook ""Snookie"" (Character), Mr. Earhardt...","-, -, -, -, -, -, -, -, -, -, -, -","1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976..."
30714,Empire City,"Mary Mara, Ron Vawter, Robin Christopher, Mich...","No Score Yet, No Score Yet, No Score Yet, No S...","No Score Yet, No Score Yet, No Score Yet, No S...","Nancy Kraus (Character), Unknown (Character), ...","-, -, -, -","1991, 1991, 1991, 1991"
49567,Just Before Nightfall,"Claude Chabrol, Stéphane Audran","No Score Yet, No Score Yet","80%, 80%","Director,Writer, Unknown (Character)","-, -","1971, 1971"
44843,"I Love You, Eugenio","Jacques Perrin, Giancarlo Giannini","No Score Yet, No Score Yet","100%, 100%","Federico (Character), Eugenio (Character)","-, -","2002, 2002"
16711,Bull,"Willa Fitzgerald, Minka Kelly, Malcolm Goodwin...","No Score Yet, No Score Yet, No Score Yet, No S...","61%, 61%, 61%, 61%, 61%, 61%, 61%, 61%, No Sco...","Susan Bryant (Guest Star), Kara Clayton (Guest...","-, -, -, -, -, -, -, -, -, -, -, -, -, -, -, -...","2017, 2017, 2019, 2019, 2019, 2018, 2017, 2017..."
6787,America's Choice 2020: Democratic National Con...,Anderson Cooper,No Score Yet,No Score Yet,Anchor,-,2020
72940,Pretty Proofreader,"Satomi Ishihara, Masaki Suda","No Score Yet, No Score Yet","No Score Yet, No Score Yet","Unknown (Character), Unknown (Character)","-, -","2016, 2016"
71637,Pinky Moge Wali,Neeru Bajwa,No Score Yet,No Score Yet,Pinky (Character),-,2012
114714,Vallanzasca,"Paz Vega, Gaetano Bruno, Michele Placido, Kim ...","52%, 52%, 52%, 52%","48%, 48%, 48%, 48%","Antonella D'Agostino (Character), Fausto (Char...","-, -, -, -","2010, 2010, 2010, 2010"
20358,Cinema Verite,"James Gandolfini, Tim Robbins, Kathleen Quinla...","61%, 61%, 61%, 61%, 61%, 61%, 61%","60%, 60%, 60%, 60%, 60%, 60%, 60%","Craig Gilbert (Character), Bill Loud (Characte...","-, -, -, -, -, -, -","2011, 2011, 2011, 2011, 2011, 2011, 2011"
58385,Man Without a Star,"King Vidor, Kirk Douglas, Jeanne Crain, Richar...","No Score Yet, No Score Yet, No Score Yet, No S...","64%, 64%, 64%, 64%, 64%","Director, Dempsey Rae (Character), Reed Bowman...","-, -, -, -, -","1955, 1955, 1955, 1955, 1955"
36795,Gargoyles,"Keith David, Ed Asner, Brigitte Bako, Jonathan...","No Score Yet, No Score Yet, No Score Yet, No S...","No Score Yet, No Score Yet, No Score Yet, No S...","Goliath (Voice), Hudson (Voice), Angela (Voice...","-, -, -, -, -, -","1996-1997, 1996-1997, 1996-1997, 1996-1997, 19..."
91436,The Big Shakedown,"Bette Davis, Glenda Farrell, Ricardo Cortez, C...","No Score Yet, No Score Yet, No Score Yet, No S...","30%, 30%, 30%, 30%","Norma Nelson (Character), Lily ""Lil"" Duran (Ch...","-, -, -, -","1934, 1934, 1934, 1934"
78872,Sanjay's Super Team,John Lasseter,78%,76%,Executive Producer,-,2015
8922,Armstrong,Harrison Ford,75%,74%,Narrator,-,2019
43339,Hopper/Welles,"Gary Graver, Dennis Hopper, Orson Welles","88%, 88%, 88%","No Score Yet, No Score Yet, No Score Yet","Cinematographer, Self, Self,Director","-, -, -","2020, 2020, 2020"
1975,A Demon in My View,"Anthony Perkins, Sophie Ward","No Score Yet, No Score Yet","12%, 12%","Arthur Johnson (Character), Helen Schweizer (C...","-, -","1991, 1991"
118332,Wicked Minds,"Andrew W. Walker, Angie Everhart","No Score Yet, No Score Yet","15%, 15%","Holden Price (Character), Lana (Character)","-, -","2002, 2002"
118006,White Lightning,"Burt Reynolds, Louise Latham, Joseph Sargent, ...","75%, 75%, 75%, 75%, 75%, 75%, 75%, 75%, 75%, 75%","62%, 62%, 62%, 62%, 62%, 62%, 62%, 62%, 62%, 62%","Gator McKlusky (Character), Martha Culpepper (...","-, -, -, -, -, -, -, -, -, -","1973, 1973, 1973, 1973, 1973, 1973, 1973, 1973..."
5020,Africa paradis,Eriq Ebouaney,No Score Yet,No Score Yet,M'Doula (Character),-,2006
114819,Vampitheatre,Linnea Quigley,No Score Yet,No Score Yet,The Queen (Character),-,2009
47188,Iron Man 3,"Jon Favreau, Paul Bettany, Guy Pearce, Gwyneth...","79%, 79%, 79%, 79%, 79%, 79%, 79%, 79%, 79%, 7...","78%, 78%, 78%, 78%, 78%, 78%, 78%, 78%, 78%, 7...","Happy Hogan (Character),Executive Producer, Ja...","$409.0M, $409.0M, $409.0M, $409.0M, $409.0M, $...","2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013..."
62272,Moonshiners,Jeremy Schwartz,No Score Yet,No Score Yet,Narrator,-,2011-2022
111198,Tokyo: The Last Megalopolis,Shintarô Katsu,No Score Yet,42%,Eichi Shibusawa (Voice),-,1988
15152,Bongu,Atul Kulkarni,No Score Yet,No Score Yet,Unknown (Character),-,2017
1172,60 Vayadu Maaniram,"Prakash Raj, Samuthirakani","No Score Yet, No Score Yet","No Score Yet, No Score Yet","Govindarajan (Character), Ranga (Character)","-, -","2018, 2018"
85479,Standby,"Andrew Paul, Alexa Morden","No Score Yet, No Score Yet","No Score Yet, No Score Yet","Gary (Character), Jenny (Character)","-, -","2016, 2016"
92329,The Butcher's Son,"Manny Perez, Denise Quiñones, Margo Martindale...","44%, 44%, 44%, 44%, 44%","73%, 73%, 73%, 73%, 73%","Luisito (Character),Screenwriter, Jenny (Chara...","$210.6K, $210.6K, $210.6K, $210.6K, $210.6K","2009, 2009, 2009, 2009, 2009"
4473,Access Hollywood,"Zendaya, Laverne Cox, Tom Holland, Katie Lowes...","No Score Yet, No Score Yet, No Score Yet, No S...","No Score Yet, No Score Yet, No Score Yet, No S...","Guest, Guest, Guest, Guest, Guest, Guest, Gues...","-, -, -, -, -, -, -, -, -, -, -, -, -, -, -, -...","201620192021-2022, 2016-2017, 2021, 2015, 2019..."
58089,Make Like a Thief,Richard Long,No Score Yet,No Score Yet,"V. Bartley ""Bart"" Lanigan (Character),Director",-,1966
28989,Dreamstates,William Nadylam,No Score Yet,No Score Yet,Self,-,2016
24391,Dark Seduction,"Elizabeth Cervantes, Joe Alaskey, Stacey Travis","No Score Yet, No Score Yet, No Score Yet","No Score Yet, No Score Yet, No Score Yet","Laura (Character), Fatman (Character), Laura (...","-, -, -","2011, 2015, 2015"
55257,Live Nude Girls,"Mindy Robinson, Dave Foley, Kristen DeLuca, An...","No Score Yet, No Score Yet, No Score Yet, No S...","54%, 54%, 54%, 54%, 54%","Amber (Character), Harry (Character), Layla (C...","-, -, -, -, -","2014, 2014, 2014, 2014, 2014"
72778,Precious Find,"Rutger Hauer, Philippe Mora, Brion James, Joan...","No Score Yet, No Score Yet, No Score Yet, No S...","8%, 8%, 8%, 8%, 8%","Armond Crille (Character), Director, Sam Horto...","-, -, -, -, -","1996, 1996, 1996, 1996, 1996"

In [36]:
tempDf.count()

index             736149
Tomatometer       736149
Audience_Score    736149
Title             736149
Character         736149
Box_Office        736149
Year              736149
Cast              736149
dtype: int64

In [37]:
temp2Df.count()

Title             121132
Cast              121132
Tomatometer       121132
Audience_Score    121132
Character         121132
Box_Office        121132
Year              121132
dtype: int64

In [38]:
temp2Df.sample(10)

,Title,Cast,Tomatometer,Audience_Score,Character,Box_Office,Year
28782,Dragon Fire,Rick Jacobson,No Score Yet,77%,Director,-,1993
46789,Instant,"Tara Perry, Tyler Hilton, Emily Chang","No Score Yet, No Score Yet, No Score Yet","No Score Yet, No Score Yet, No Score Yet","Unknown (Character), Unknown (Character), Unkn...","-, -, -","2015, 2015, 2015"
81181,"Shame, Shame, Shame","Zalman King, Heidi Schanz, Costas Mandylor, Va...","No Score Yet, No Score Yet, No Score Yet, No S...","No Score Yet, No Score Yet, No Score Yet, No S...","Director, Unknown (Character), Mark (Character...","-, -, -, -","1997, 1997, 1997, 1997"
67864,On Ice,"Pinto Colvig, Walt Disney","No Score Yet, No Score Yet","No Score Yet, No Score Yet","Goofy / Pluto (Voice), Mickey Mouse (Voice),Pr...","-, -","1935, 1935"
47377,Isn't Life Wonderful?,"Cecil Parker, Dianne Foster","No Score Yet, No Score Yet","No Score Yet, No Score Yet","Father (Character), Virginia van Stuyden (Char...","-, -","1952, 1952"
86264,Storge,Sarah Wright,No Score Yet,No Score Yet,Unknown (Character),-,2016
17579,Calumet,Austin Pendleton,No Score Yet,No Score Yet,Ira (Character),-,2014
89557,Tex,"Meg Tilly, Matt Dillon, Emilio Estevez, Jim Me...","85%, 85%, 85%, 85%, 85%, 85%, 85%, 85%","65%, 65%, 65%, 65%, 65%, 65%, 65%, 65%","Jamie Collins (Character), Tex McCormick (Char...","-, -, -, -, -, -, -, -","1982, 1982, 1982, 1982, 1982, 1982, 1982, 1982"
4246,Abacus: Small Enough to Jail,Julie Goldman,93%,84%,Producer,$111.8K,2016
35623,Free Solo,"Alex Honnold, Marco Beltrami, Sanni McCandless...","97%, 97%, 97%, 97%","93%, 93%, 93%, 93%","Self, Original Music, Self, Self,Director,Prod...","$17.5M, $17.5M, $17.5M, $17.5M","2018, 2018, 2018, 2018"

In [39]:
temp2Df['Tomatometer'] = temp2Df['Tomatometer'].str.split(", ").str[0]
temp2Df['Audience_Score'] = temp2Df['Audience_Score'].str.split(", ").str[0]
temp2Df['Box_Office'] = temp2Df['Box_Office'].str.split(", ").str[0]
temp2Df['Year'] = temp2Df['Year'].str.split(", ").str[0]

In [40]:
temp2Df.sample(10)

,Title,Cast,Tomatometer,Audience_Score,Character,Box_Office,Year
32749,Faraar,"Sharmila Tagore, Sanjeev Kumar, Gippy Grewal, ...",No Score Yet,No Score Yet,"Mala/Asha (Character), Inspector Sanjay (Chara...",-,1975
9828,Aval Varuvala,Ajith Kumar,No Score Yet,No Score Yet,Jeeva (Character),-,1998
93175,The Commune,"Lars Ranthe, Tobias Lindholm, Magnus Millang, ...",71%,59%,"Ole (Character), Screenwriter, Steffen (Charac...",$38.3K,2016
65579,Newly Single,"Molly C. Quinn, Marguerite Moreau, Jennifer Kim",88%,84%,"Valerie (Character), Charlee (Character), Izzy...",-,2017
46068,In memoriam,"Eusebio Poncela, Geraldine Chaplin",No Score Yet,No Score Yet,"Unknown (Character), Unknown (Character)",-,1976
88134,Sylvia Scarlett,"Cary Grant, Brian Aherne, Edmund Gwenn, Kathar...",73%,47%,"Jimmy ""Monk"" Monkley (Character), Michael Fane...",-,1935
55696,Longstreet,"Susan Oliver, Peggy McCay, Peter Haskell, Tim ...",No Score Yet,No Score Yet,"Unknown (Guest Star), Unknown (Guest Star), Un...",-,1971
95305,The Fall,"Jamie Dornan, Gillian Anderson, Aisling Franci...",84%,86%,"Paul Spector (Character), Stella Gibson (Chara...",-,2013-20142016
29392,Dushmanon Ka Dushman,"Brahmanandam, Nithiin",No Score Yet,No Score Yet,"Unknown (Character), Unknown (Character)",-,2011
62172,Monty Python's The Meaning of Life,"Patricia Quinn, Judy Loe, Terry Gilliam, John ...",86%,83%,"Mrs. Williams (Character), Nurse #1 (Character...",-,1983

In [41]:
temp2Df.to_csv("finalisedSeriesList2.csv")

In [42]:
temp3Df = temp2Df.groupby('Title')

In [43]:
temp2Df.head()

,Title,Cast,Tomatometer,Audience_Score,Character,Box_Office,Year
0,!T Girls Besties,Solenn Heussaff,No Score Yet,No Score Yet,Self,-,2020
1,#ABtalks,"Mona Zaki, Youssra",No Score Yet,No Score Yet,"Guest, Guest",-,2021
2,#AnneFrank. Parallel Stories,Dame Helen Mirren,100%,No Score Yet,Self,-,2019
3,#DigitalLivesMatter,"Carlos Aviles, Franco Castan, David Banner",No Score Yet,No Score Yet,"Mouse (Character), Duncan Davis (Character), P...",-,2016
4,#FollowMe,"Sam Hardy, Tyler Gallant",No Score Yet,38%,"Jake (Character), Brandon (Character)",-,2019